@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}

#searchbar {
    background-color: #37474F;
    margin-top: -10;
    margin-left: -10;
    margin-right: -10;
    color: white;
	box-shadow: 0px 0px 10px 0px #202020;
}


label {
	width: 200px;
    border-radius: 3px;
    border: 1px solid #31373a;
    background-color: #5d686d;
	color: #b3b4b4;
}

/* hide input */
input.radio:empty {
  display:none;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #919394;
  border-radius: 3px 0 0 3px;
  
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .3em;
  color: #9CE2AE;
  background-color: #4DCB6D;
}

input.radio:checked ~ label {
  color: white;
}

/* radio focus */
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

input.evaluation{
  //width: 1.5em;
}

body {
  font-family: sans-serif;
  font-weight: normal;
  margin: 10px;
  color: #999;
  background-color: #eee;
}


/* make images round*/

#selfie_div {
  
}

h2{
	margin-bottom: 10px;
}
#selfie{
    height: auto; 
    width: auto; 
    width: 300px; 
    height: 300px;
	float: left;
	margin-left: 50px;
}

#selfieception{
	float: right;
    width: 500px;
}

.cinfo{
	padding-top: 10px;
    width: 75%;
}

.img-circle {
  border-radius: 50%;
  height: auto; 
  width: auto; 
  width: 300px; 
  height: 300px;
}

.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
.topcorner{
float: left;
padding-top: 0;
padding-left: 0;
}

.wordcloud{
  float:right;
  margin-right: 100px;
}

.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}


/* tooltip css */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* highlight bar on hover */
.bar {
  fill: gray;
}

.bar-dem {
  fill: #4285F4;
}

.bar-rep {
  fill: #d93232;
}

.bar:hover {
  fill: orange;
}

.bar-dem:hover {
  fill: orange;
}

.bar-rep:hover {
  fill: orange;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Center the SVGs */
.svg_div{
  text-align: center;
}

.svg_div g text{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

/*used_words context div*/
#used_words ul{
  list-style-type: none;
  color:black;
}
#used_words li{
  margin-top: 5px;
  margin-bottom: 5px;
}

#used_words h3{
  text-align: center;
  margin-top:25px;
}

/* style response graph */
/* color nodes by party */
.node-dem {
  fill: #4285F4;
}
.node-rep {
  fill: #d93232;
}
.node {
  fill: black;
}


/* highlight node and link on hover */
.node-dem:hover, .node-rep:hover, .node:hover {
  fill: orange;
}/*
.link {
  stroke: orange;
}*/

/* Mouse Pointer on clickable hover */
.wordcloud_text, .force_graph circle, .svg_div rect, .link_to_debate {
  cursor: pointer;
}


#ml_div{
  margin-left: 200px;
}

/*context_words context div*/
#snippit{
  text-align: left;
  max-height: 450px;
  overflow: scroll;
}
.link_to_debate{
  fill: #337ab7;
}
.link_to_debate:hover{
  fill: #2756B7;
  text-decoration: underline;
}

#snippit .spoken{
  color: purple;
}