<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="//d3js.org/d3.v3.min.js"></script> <!-- d3 -->
        <script src="/static/d3.tip.v0.6.3.js"></script> <!-- tooltip -->
		<script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script> <!-- word cloud -->
        <!-- load script.js here -->
        <!-- main javascript -->
        <link rel='shortcut icon' href='/static/Images/favicon.ico' type='image/x-icon'/ >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <title>Power of Speech</title>
        
    </head>

	
    <body>
	<div class="header"> </div>
       <div class="topcorner">
            <p>Rebecca Mozdy (rlm393), Daniel Rong (ddr42), Jacqueline Viola (jlv78), Batya Zamansky (bz82)</p>
			<p>Power Of Speech</p>
        </div>
	<br>         
        <form class="form-inline global-search" method='GET'>
            <a href="/pt/">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                Power o <h1 style="color:red; font-size: 55px; font-family:Futura;">f Speech</h1>
            </h1>
            </a>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Search by TERM or candidate LAST NAME" value="{{searched}}">
                <button type="submit" class="btn btn-info"> Go! </button>
                <!-- JACKIE'S NEW CODE -->
                <br>
				<div>
                    <input type="radio" name="search_option" value="candidate" id="radio2" class="radio" {% if search_option != 'term' %}checked{% endif %}/>
    				<label for="radio2"> Search by Candidate </label>
				</div>
				
				<div>
                    <input type="radio" name="search_option" value="term" id="radio3" class="radio" {% if search_option == 'term' %}checked{% endif %}/>
                    <label for="radio3"> Search by Term </label>
				</div> 

            </div>

        </form>
        
        <div class="form-inline global-search">
            <!-- <h4>Output</h4><br> -->
            {% comment %}
            {{output}}
            {% endcomment %}
            
            <!-- PAGINATOR STUFF -->
            <!-- {% for line in output %}
                {{line}}<br>
            {% endfor %} -->
            
            {% if search_option %}
                <h5>Searched in {{search_option}}s: "{{searched}}"</h5>
                <br/><br/>
            {% endif %}
            
            {% if search_option == 'candidate' and not ten_words_counts %}
                <h5><b>Sorry, no candidate with the last name "{{searched}}" found!</b></h5>
                <br/>
            {% elif search_option == 'term' and not mentions_by_debate %}
                <h5><b>Sorry, the term "{{searched}}" was not found in any of the debates!</b></h5>
                <br/>
            {% endif %}
            
            <br/>
            
            <!--
            {% comment %}
            {% for value in plot %}
                {% for part in value %}
                {{part}}
                {% endfor %}
                <br/>
            {% endfor %}
            {% endcomment %}

            {% comment %}
            {% for key,val in output.items %}
                {{key}} {{val}}<br>
            {% endfor %}
            {% endcomment %}
            -->
            
            <h3 id="fill_me"></h3>

            <!-- REMEMBER TO UNCOMMENT THIS IF NEED PAGINATOR -->
            <!-- <div class="pagination">
                <span class="step-links">
                    {% comment %}
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %} -->
                    
                    <!-- Showing the page numbers in Html Page -->
                    <!-- <span class="current">
                    Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_
                    </span>
                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                    {% endcomment %}
                </span>
            </div> -->
            

        </div>
        
        {% if search_option == 'candidate' %}
            <div class="candidate_viz">
                <div id="selfie" class = "selfie"> </div>
            </div>
            <div id="used_words">
                <ul id="used_words_list"></ul>
                <input value="x" type="button" id="close" onclick="my_close()"/>
            </div>
        {% endif %}

        <script type="text/javascript">
            var candidate_names = {{candidate_names|safe}}; // array of candidate names
            var mentions_by_candidate = {{mentions_by_candidate}}; // array of ints, which are the number of times each candidate mentions the query
            var debate_titles = {{debate_titles|safe}};
            var mentions_by_debate = {{mentions_by_debate}}; // array of ints, which are the number of times each query is mentioned in each debate
            var interactions = {{interactions}};

            // SEARCH BY CANDIDATE DATA
            var top_ten_words = {{ten_words|safe}}; // actual words
            var top_ten_words_counts = {{ten_words_counts}}; // num times each of top 10 words is said by that candidate
            var respond_to_names = {{respond_names|safe}}; // names of people that candidate responds to (or doesn't)
            var respond_to_counts = {{respond_values}};


            var all_text = {{all_debates|safe}};
            var all_candidates = {{all_candidates|safe}};
            var all_text_dict = {};
            for (var i = 0; i < all_text.length; i++) {
                all_text_dict[all_candidates[i]] = all_text[i];
            }

        </script>
        <script type="text/javascript" src="/static/script.js"></script>
        <script type="text/javascript">
            var search_option = document.getElementsByTagName('h5')[0].innerText.split(" ")[2];


            // IF SEARCH BY TERM
            if (search_option == 'terms:') {
                {% if mentions_by_debate %}
                    // query mentions by candidate
                    makeBarGraph(candidate_names, mentions_by_candidate, "candidate"); // candidate mentions of...
                    // query mentions by debate
                    makeBarGraph(debate_titles, mentions_by_debate, "debate"); // debate mentions of...
                {% endif %}
            }
            // IF SEARCH BY CANDIDATE
            else if (search_option == 'candidates:') {
                {% if ten_words_counts %}
                    //add a picture of the candidate
                    var can = document.getElementsByTagName('h5')[0].innerText.split(" ")[3];
                    var candidate = can.substring(1, can.length-1);
                    
                    var imageurl = "/static/Images/" + candidate + ".jpg";
   
                    if(imageExists(imageurl)){
                        var img = document.createElement("img");
                        img.className = "img-circle";
                        img.src = imageurl;
                        var src = document.getElementById("selfie");
                        if(imageurl.split("/")[3].split(".")[0] == 'trump'){
                            var a = document.createElement("a");
                            a.href = 'http://trumpdonald.org/';
                            a.target = "_blank";
                            a.appendChild(img)
                            src.appendChild(a);
                        }
                        else{
                            src.appendChild(img);
                        }
                    }
                    
                    // make response graph for candidate
                    makeResponseGraph(candidate, respond_to_names, respond_to_counts);

                    // make top 10 word cloud for candidate
                    makeWordCloud(candidate, top_ten_words, top_ten_words_counts);
                {% endif %}
            }

        </script>
    </body>
</html>