<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="//d3js.org/d3.v3.min.js"></script> <!-- d3 -->
        <script src="/static/d3.tip.v0.6.3.js"></script> <!-- tooltip -->
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script> <!-- word cloud -->
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.3.6.min.js"></script><!--AWS S3 Server-->
        <!-- main javascript -->
        <link rel='shortcut icon' href='/static/Images/favicon.ico' type='image/x-icon'/ >
        <title>Power of Speech</title>
    </head>
    <body>
		<div class="header"></div>
		<div id= "searchbar">

        <form class="form-inline global-search" method='GET'>
            <a href="/pt/">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                Power o <h1 style="color:red; font-size: 55px; font-family:Futura;">f Speech</h1>
            </h1>
            </a>
            <br><br>
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Search by TERM or candidate LAST NAME" value="{{searched}}">
                <button type="submit" class="btn btn-info"> Go! </button>
                <!-- JACKIE'S NEW CODE -->
                <br>
        <div>
                    <input type="radio" name="search_option" value="candidate" id="radio2" class="radio" {% if search_option != 'term' %}checked{% endif %}/>
            <label for="radio2"> Search by Candidate </label>
        </div>
        <div>
                    <input type="radio" name="search_option" value="term" id="radio3" class="radio" {% if search_option == 'term' %}checked{% endif %}/>
                    <label for="radio3"> Search by Term </label>
        </div> 
        <div id="ml_div">
            <input type="radio" name="eval" value="naive" id="radio4" class="radio evaluation" {% if eval_type != 'ml' %}checked{% endif %} />
            <label for="radio4">Naive</label>
        </div>
        <div>
            <input type="radio" name="eval" value="ml" id="radio5" class="radio evaluation" {% if eval_type == "ml" %}checked{% endif %} />
            <label for="radio5">ML</label>
        </div>
            </div>
        </form>
		<br/>
		</div>
        <div class="form-inline global-search">   
            {% if search_option %}
                <h5>Searched in {{search_option}}s: "{{searched}}"
                {% if eval_type == "ml" %}
                    and related terms
                {% endif %}
                </h5>
                <br/><br/>
            {% endif %}
            {% if search_option == 'candidate' and ten_words == '{}' %}
                <h5><b>Sorry, no candidate with the last name "{{searched}}" found!</b></h5>
                <br/><br/><br/>
                <i>Suggested candidate searches:</i>
                {% for cand in suggested_candidates %}
                    <a href="?search={{cand}}&search_option=candidate&eval=ml">{{cand}}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                <br/><br/>
            {% elif search_option == 'term' and error_words %}
                <h5><b>Sorry, the following terms were not found in any of the debates: {{error_words|join:", " }}</b></h5>
                <br/><br/>
                {% if not closest_words %}
                    <br/>
                    <i>Suggested term searches:</i>
                    {% for term in suggested_terms %}
                        <a href="?search={{term}}&search_option=term&eval=ml">{{term}}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    <br/><br/><br/>
                {% endif %}
            {% endif %}
            {% if check_homepage == 'yes' %}
                <i>Suggested candidate searches:</i>
                {% for cand in suggested_candidates %}
                    <a href="?search={{cand}}&search_option=candidate&eval=ml">{{cand}}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                <br/><br/>
                <i>Suggested term searches:</i>
                {% for term in suggested_terms %}
                    <a href="?search={{term}}&search_option=term&eval=ml">{{term}}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                <br/><br/><br/>
            {% endif %}
        </div>
        {% if search_option == 'candidate' %}
            <div class="candidate_viz row">
                <div id="selfie_div" class = "col-lg-6 col-md-12">
                    <span id="selfie" class="selfie"></span>
                </div>
                <div class="force_graph col-lg-6 col-md-12"></div>
            </div>
            <div class="candidate_viz_two row">
                <div id="word_cloud" class="col-lg-6 col-md-12"></div>
                <div id="used_words" class="col-lg-6 col-md-12">
                    <h3 id="word"></h3>
                    <ul id="used_words_list"></ul>
                </div>
            </div>
        {% elif search_option == 'term' and closest_words %}
            <div class="global-search">
                <b><i>See also (related words):</i></b>
                {% for word in closest_words %}
                    <a href="?search={{word}}&search_option=term&eval=ml">{{word}}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <br/><br/>
        {% endif %}
		<br/>
        <script type="text/javascript">
            var candidate_names = {{candidate_names|safe}}; // array of candidate names
            var mentions_by_candidate = {{mentions_by_candidate}}; // array of ints, which are the number of times each candidate mentions the query
            var debate_titles = {{debate_titles|safe}};
            var mentions_by_debate = {{mentions_by_debate}}; // array of ints, which are the number of times each query is mentioned in each debate
            // interactions -- might not do this

            // SEARCH BY CANDIDATE DATA
            var top_ten_words = {{ten_words|safe}}; // actual words
            var respond_to_names = {{respond_names|safe}}; // names of people that candidate responds to (or doesn't)
            var respond_to_counts = {{respond_values}};
            // candidates each have list of debates they participated in

            var all_text_dict = {{all_debates|safe}};

            //Num Debates Candidate In
            var num_debates = {{num_debates|safe}};

            var eval_type = {{eval|safe}};
            var closest_words = {{related_terms|safe}};
        </script>
        <script type="text/javascript" src="/static/script.js"></script>
        <script type="text/javascript">
            var search_option = document.getElementsByTagName('h5')[0].innerText.split(" ")[2];


            // IF SEARCH BY TERM
            if (search_option == 'terms:') {
                {% if mentions_by_debate != '[]' %}
                    // query mentions by candidate
                    // num_debates for normalized
                    makeBarGraph(candidate_names, mentions_by_candidate, "candidate", num_debates); // candidate mentions of...

                    // query mentions by debate
                    // 1 for unnormalized
                    makeBarGraph(debate_titles, mentions_by_debate, "debate", {}); // debate mentions of...
                {% endif %}
            }
            // IF SEARCH BY CANDIDATE
            else if (search_option == 'candidates:') {
                {% if ten_words != '{}' %}
                    //add a picture of the candidate
                    var candidate = {{adjustedsearch|safe}};
                    
                    var imageurl = "/static/Images/" + candidate + ".jpg";
   
                    if(imageExists(imageurl)){
                        var img = document.createElement("img");
                        img.className = "img-circle";
                        img.src = imageurl;
                        var src = document.getElementById("selfie");
                        if(imageurl.split("/")[3].split(".")[0] == 'trump'){
                            var a = document.createElement("a");
                            a.href = 'http://trumpdonald.org/';
                            a.target = "_blank";
                            a.appendChild(img);
                            src.appendChild(a);
                        }
                        else{
                            src.appendChild(img);
                        }
                    }
                    
                    // make response graph for candidate
                    makeResponseGraph(candidate, respond_to_names, respond_to_counts);

                    // make top 10 word cloud for candidate
                    makeWordCloud(candidate, top_ten_words);
                {% endif %}
            }

        </script>

        <footer>
            <div class="topcorner">
            <p>Rebecca Mozdy (rlm393), Daniel Rong (ddr42), Jacqueline Viola (jlv78), Batya Zamansky (bz82)</p>
        </div>
        </footer>
    </body>
</html>