<!DOCTYPE html>
<html>
<head>
    <title>Power of Speech - Term Query</title>
    <!-- d3 for visuals -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>
    <!-- from index.html, user has selected TERM -->
    <h3>Enter a term or topic</h3>
    <div name="term_input_form">
        <input id="input_term" type="text" name="search_term" placeholder="TERM or TOPIC QUERY">
        <button type="submit" onclick="renderPage()">Go!</button>
    </div>

    <hr> <!-- horizontal line break -->
    <!-- <button type="submit" class="btn btn-info"> Go! </button> -->

    <!-- html skeleton for visuals -->
    <div id="visual-wrapper"></div>

    <!-- d3 for visual elements -->
    <script>
        var wrapper = d3.select("#visual-wrapper");

        /*
            parameters: query
            pulls data for the query
        */
        function searchResults(q) {
            var query = d3.select("#input_term").text();
            console.log(query);
            // search for input in data
            // return RESULT ITEMS
                // input
                // times mentioned by debate
                // times mentioned by candidate
                // arguments
        }
        
        /*
            makes sample histogram in the element with that id
        */
        function makeHistogram(id) {
            // Generate a Bates distribution of 10 random variables.
            var values = d3.range(1000).map(d3.random.bates(10));

            // A formatter for counts.
            var formatCount = d3.format(",.0f");

            var margin = {top: 10, right: 30, bottom: 30, left: 30},
                width = 500 - margin.left - margin.right,
                height = 300 - margin.top - margin.bottom;

            var x = d3.scale.linear()
                .domain([0, 1])
                .range([0, width]);

            // Generate a histogram using twenty uniformly-spaced bins.
            var data = d3.layout.histogram()
                .bins(x.ticks(20))
                (values);

            var y = d3.scale.linear()
                .domain([0, d3.max(data, function(d) { return d.y; })])
                .range([height, 0]);

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

            var svg = d3.select(id).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var bar = svg.selectAll(".bar")
                .data(data)
              .enter().append("g")
                .attr("class", "bar")
                .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

            bar.append("rect")
                .attr("x", 1)
                .attr("width", x(data[0].dx) - 1)
                .attr("height", function(d) { return height - y(d.y); });

            bar.append("text")
                .attr("dy", ".75em")
                .attr("y", 6)
                .attr("x", x(data[0].dx) / 2)
                .attr("text-anchor", "middle")
                .text(function(d) { return formatCount(d.y); });

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

        }

        /*
            establishes the visuals for a query result page
            when the user clicks Go!
        */
        function renderPage(event) {
            // clear previous html on click
            wrapper.selectAll("*").html("");
            // clear previous d3 visuals on click
            d3.selectAll("svg").remove();

            // RENDER PAGE FOR A QUERY
            // store query
            var query = document.getElementById("input_term").value;
            
            // set page title
            wrapper.append("h3").attr("id", "result_title").text("");
            
            // set title of page to query text
            d3.select("#result_title").text(query.toUpperCase());
            
            // BY DEBATE SECTION
            var debate_mentions = wrapper.append("div").attr("id", "mentions_by_debate");
            debate_mentions.append("h3").text("Total Mentions by Debate");

            // NOTE: MAKE HIST FOR SPECIFIC DATA
            makeHistogram("#mentions_by_debate");
            
            // BY CANDIDATE SECTION
            var candidate_mentions = wrapper.append("div").attr("id", "mentions_by_candidate");
            candidate_mentions.append("h3").text("Total Mentions by Candidate");

            // histogram
            makeHistogram("#mentions_by_candidate");

            // ARGUMENTS AND INTERACTIONS SECTION
            var arguments = wrapper.append("div").attr("id", "arguments");
            arguments.append("h3").text("Arguments and Interactions");
            
            // histogram
            makeHistogram("#arguments");
            
        }
        

    </script>

</body>
</html>